@import 'reset';

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f5f7;
    main{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 8px;
    }
}